/* 
 - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

 - SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@400;500;600;700&display=swap');

html {
  /* default: 10px */
  /* 10 / 16 * 100 = 62.5 */
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #00aaff;

  overflow: hidden;
}

.container {
  padding: 3rem;
  width: 35rem;
  border-radius: 0.6rem;
  background-color: rgb(85, 85, 134);
}

.form-heading {
  margin-bottom: 3rem;

  font-size: 3rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 1.8rem;
}

.form-input {
  font-size: 1.8rem;

  border: none;
  border-bottom: 0.2rem solid #fff;
  background-color: transparent;
}

#email {
  margin-bottom: 4rem;
}

.btn {
  margin: 2.3rem 0;
  padding: 1.2rem;

  font-size: 1.7rem;
  color: #535353;
}

.msg {
  display: flex;
  gap: 0.5rem;

  font-size: 1.4rem;
}

.form-link {
  color: #b1b1b1;
  text-decoration: none;
}
