/* 
 - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

 - SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Muli:wght@400;500;600;700&display=swap');

html {
  /* default: 10px */
  /* 10 / 16 * 100 = 62.5 */
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  font-family: 'Muli', sans-serif;
  color: #fff;
  background-color: #4682b4;

  overflow: hidden;
}

.container {
  padding: 2rem 4rem;
  width: 40rem;
  border-radius: 0.6rem;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0.2rem 0.4rem 0.5rem rgba(0, 0, 0, 0.3);
}

.form-heading {
  margin-bottom: 3rem;

  font-size: 3rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-control {
  margin: 2rem 0 4rem;
  position: relative;
}

.form-input {
  display: block;
  width: 100%;
  padding: 1.5rem 0;
  font-size: 1.8rem;
  color: #fff;
  border: none;
  border-bottom: 0.2rem solid #fff;
  background-color: transparent;
}

.form-input {
  outline: none;
}

.form-input:focus,
.form-input:valid {
  outline: none;
  border-bottom-color: #add8e6;
}

.form-label {
  position: absolute;
  top: 1.5rem;
  left: 0;
  font-size: 1.8rem;
}

.form-label-span {
  display: inline-block;
  font-style: 1.8rem;
  min-width: 0.5rem;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-input:focus + label span,
.form-input:valid + label span {
  color: #add8e6;
  transform: translateY(-110%);
}

.btn {
  display: inline-block;
  margin: 2.3rem 0;
  padding: 1.5rem;

  font-size: 1.6rem;
  color: #272727;
  background-color: #add8e6;

  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.msg {
  display: flex;
  gap: 0.5rem;

  font-size: 1.4rem;
}

.form-link {
  color: #add8e6;
  text-decoration: none;
}
